@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
.h_artikel{
    font-family: 'Dancing Script', cursive;
    line-height: normal;
}
.h_line{
    border: 1px solid #c1c1c1;
}
.responsive img {
    max-width: 100%;
    height: auto;
}
.list_artikel_card{
    transition: 0.6s;
}
.list_artikel_card:hover{
    opacity: 0.6;
}
.list_artikel_title{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: normal;
}
.list_artikel_title:hover{
    color: white;
    text-decoration: none;
    opacity: 1;
}
.list_art_out_img {
    width: 100%;
    height: 220px;
    overflow: hidden;
    display: flex;
}
.list_art_in_img {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}
