body{
    background-color: #121721;
    color: #fff;
}
@media only screen and (max-width: 767px) {
    .sm-reverse{
        flex-direction: column-reverse;
    }
}
.bg-card,.card{
    background-color: #161B27;
}
.modal-content{
    background-color: #141B29;
}
.list-group-item{
    background-color: #121721;
}
.nav-link {
    color: #FFFFFF80;
}
.dropdown-menu {
    background-color: #161B27;
}
.dropdown-header {
    color: white;
}
.dropdown-item{
    color: #FFFFFF80;
}
/*  */
.current{
    background-color: #1FAF38 !important;
}
.card-special {
    z-index: 1;
    border-radius: 6px 6px 6px 6px;
    border: 1;
    transition: 0.4s;
  }
  .card-wrapper-special {
    padding: 6px;
    /*box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.2);*/
  }
  .card-special:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    z-index: 2;
  }
  .card-text-special {
    color: #fea200;
    font-weight: 500;
  }
  .card-img-top-special {
    /*border-radius: unset;*/
    border-radius: 5px 5px 5px 5px;
  }

  .img__description_layer {
   font-size: 14px;
   /*font-weight: bold;*/
   position: absolute;
   text-align: center;
   padding: 6px;
   top: auto;
   /*top: 100px;*/
   width: 100%;
   bottom: 0;
   left: 0;
   right: 0;
   border-radius: 0px 0px 5px 5px;
   /*background: rgba(0 0 0 / 85%);*/
   color: white;
   visibility: hidden;
   opacity: 0;
   /*display: flex;*/
   align-items: center;
   justify-content: bottom;

   /* transition effect. not necessary */
   transition: opacity .2s, visibility .2s;
 }
 .img__wrap:hover .img__description_layer {
   visibility: visible;
   opacity: 1;
   border-radius: 0px 0px 5px 5px;
background: rgba(0 0 0 / 85%);
 }

 /*button load_more*/
 @media only screen and (min-width: 767px) {
   .show-large {
     display: block;
   }
   .show-mobile {
     display: none;
   }
 }

 .has-search .form-control-feedback {
   position: absolute;
   z-index: 2;
   display: block;
   width: 2.375rem;
   height: 2.375rem;
   line-height: 2.375rem;
   text-align: center;
   pointer-events: none;
   color: #aaa;
 }
 @media (min-width: 1200px){
   .modal-lg {
     max-width: 1140px !important;
   }
 }
 .pa {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
    border-radius: 20px;
    height: 40px;
 }
 .font-weight-semi-bold{
    font-weight: 600;
 }
.text-white li a{
    color: white;
}
.underline-white{
    text-decoration: none;
}
.responsive img {
    max-width:100%;
    height: auto;
}
.icon-info{
    width: 36px;
}
.icon-info:hover,.icon-follow:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.icon-follow{
    width: 28px;
}
.hr_footer{
    border:1px solid white;
    margin-top: 0px;
}
.btn-cari{
    background-color: #141b29;
    color: white;
}
/*  */
.close{
    color: #FF002D;
    text-shadow: 0 1px 0 #FFF;
    opacity: 1;
}
.rating__star {
    color: yellow;
    font-size: 24px;
}
.rating__star:hover {
    cursor: pointer !important;
}
